@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

div.jumbotron,
footer,
footer a {
  background-color: #805700;
  color: #e2e2e2;
}

div.jumbotron {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  font-family: "Sansita Swashed", cursive;

  padding: 0;
  height: 50vh;
  margin-top: 50px;
}

div.jumbotron div.header {
  background-color: rgba(155, 155, 155, 0.3);
  padding: 1rem 2rem;
  flex: 1 1 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.jumbotron h1 {
  font-size: calc(2.5rem + 6vw);
}

div.jumbotron h3 {
  font-size: calc(1.3rem + 3vw);
  letter-spacing: 0.2rem;
}

div.container {
  margin-top: 80px;
}

/*
* Tarjetas
*/

body,
.card,
.list-group-item {
  background-color: #fff0da;
}

/*
* Productos
*/

figure.card {
  max-width: 500px;
}

.card-product .product-data {
  padding: 3%;
}

button.btn-reserva {
  border-radius: 0 0 5px 5px;
}

div.modal-reserva div.modal-content {
  background-color: #fff0da;
}

.popover-header {
  background-color: #a87e22;
  color: white;
}

.arrow {
  color: #fff0da;
}

.popover-body {
  background-color: #fff0da;
  color: black;
}

/*
* Hoteles
*/

.card-hotel {
  flex-basis: 300px;
}

.card-hotel .hotel-data {
  padding: 0 3%;
}

.card-hotel img.card-img-top {
  height: 200px;
}

.card-hotel i.fa {
  color: #007bff;
  margin: 1rem 0;
}

.card-hotel .btn-primary {
  border-radius: 0 0 5px 5px;
}

/*
* Footer
*/

footer {
  padding: 2rem;
  padding-bottom: 0;
  margin-top: 2rem;
}

footer div.row div.card-social i.fa {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

footer div.row div.card-office {
  text-align: center;
}

.card-social a,
.card-office address.data p,
.card-info a {
  margin: 0;
  padding: 15px 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f7e9d3;
  border-bottom-color: #f7e9d3;
}

/*
* mobile
*/

@media (max-width: 768px) {
  .img-product {
    max-width: 300px;
  }

  footer div.row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer div.row div {
    margin: 5% 0;
  }

  footer div.row div[class*="card"] * {
    width: 100%;
    text-align: center;
  }

  footer div.row div.card-social i.fa {
    font-size: 5rem;
  }

  .jumbotron {
    text-align: center;
  }
}
