footer,
footer a,
.popover-header {
  background-color: #976d13;
}
body,
.card,
.list-group-item {
  background-color: #cabf93;
}
.card-hotel .btn-primary {
  background-color: #28a745;
  border-radius: 0 0 5px 5px;
}
.card .btn-reserva {
  background-color: #007bff;
  border-radius: 0 0 5px 5px;
}
