/*
* Variables: se piden 3 variables para representar los colores amarillo, rojo y verde,
* pero eso no va bien para mi diseño. En vez de ello, defino estas 4 variables de colores:
*/

$home-bgcolor: #cabf93;
$footer-bgcolor: #976d13;

$btn-detalles-bgcolor: #007bff;
$btn-reserva-bgcolor: #28a745;


footer,
footer a,
.popover-header {
  background-color: $footer-bgcolor;
}

body,
.card,
.list-group-item {
  background-color: $home-bgcolor;
}

/*
* Mixin con varios atributos definidos mediante parámetros
*/
@mixin btn-detalles($bgcolor, $rad-l-t, $rad-r-t, $rad-r-b, $rad-l-b,) {
  background-color: $bgcolor;
  border-color: $bgcolor;
  border-radius: $rad-l-t $rad-r-t $rad-r-b $rad-l-b;
}

.card-hotel .btn-primary {
  @include btn-detalles($btn-detalles-bgcolor, 0, 0, 5px, 5px);
}

.card .btn-reserva {
  @include btn-detalles($btn-reserva-bgcolor, 0, 0, 5px, 5px);
}
