@charset "UTF-8";
/*
* Variables: se piden 3 variables para representar los colores amarillo, rojo y verde,
* pero eso no va bien para mi diseño. En vez de ello, defino estas 4 variables de colores:
*/
footer,
footer a,
.popover-header {
  background-color: #976d13; }

body,
.card,
.list-group-item {
  background-color: #cabf93; }

/*
* Mixin con varios atributos definidos mediante parámetros
*/
.card-hotel .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0 0 5px 5px; }

.card .btn-reserva {
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 0 0 5px 5px; }
